<!-- header -->
<!-- <nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item">
      <img src="https://bulma.io/images/bulma-logo.png" />
    </a>
  </div>
</nav> -->

<!-- routes will be rendered here -->
<router-outlet></router-outlet>

<!-- Landing Page -->
<div class="page">
  <h1 class="main-heading">Order Management System</h1>
  <div class="btnContainer">

    <button class="btn">View All orders</button>
    <button class="btn">Add Order</button>
  </div>
</div>




<!-- footer -->
<!-- <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        Made with <3 by
        <a href="https://twitter.com/chrisoncode">Chris from Scotch</a>
      </p>
    </div>
  </div>
</footer> -->
