.btn {
  background: cadetblue;
  color: white;
  padding: 25px 40px;
  font-size: 20px;
  outline: none;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.page {
  height: 100vh;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.main-heading {
  padding-bottom: 50px;
}
.form {
  display: flex;
  flex-flow: column;
}
.input {
  height: 40px;
  outline: none;
  border: none;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 18px;
}
.line{
    width:200;
    height: 2px;
    background-color: wheat;
    margin-top: 20px;
    margin-bottom: 20px;
}