<!-- Add order page -->
<div class="page">
    <form class="form" [formGroup]="myGroup" >
      <h2>Order Form</h2>
      <input type="text" placeholder="Enter Name" class="input" formControlName="Name"/>
      <input type="text" placeholder="Enter Address" class="input" formControlName="Address"/>
      <input type="text" placeholder="Image Url" class="input" formControlName="Image"/>
      <div class="line" ></div>
      <input type="text" placeholder="Item name" class="input" formControlName="Item"/>
      <input type="number" placeholder="Qty" class="input" formControlName="Qty" />

      <a (click)='onSubmit()' class="btn">Add Order</a>

      <a  routerLink="/orders-details" class="btn">View Orders</a>
    </form>
  </div>
